html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/*********** мои стили ***********/
body {
	font-family: "Helvetica";
}

a {
	text-decoration: none;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	color: #333333;
	background-color: #ffdc00;
	width: 300px;
	height: 75px;
	border:none;
	border-radius: 10px;
	border-bottom: 5px solid #b9a000;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 36px;
	font-size: 150%;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 185px;
}

.title {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 80px;
	letter-spacing: 2px;
	line-height: 36px;
}

.title:after {
	content: " ";
	display: block;
	width: 260px;
	height: 1px;
	background-color: #ffdc00;
	margin: 40px auto;
}

.header {
	height: 100px;
	background-color: #ffdc00;
}

.header-logo {
	float: left;
	height: 56px;
	width: auto;
	margin-top: 22px;
}

.header-phone {
	float: right;
}

.header-phone a {
	display: block;
	text-align: right;
	font-family: "Helvetica";
	padding-right: 2px;
	margin-bottom: 5px;
	margin-top: 22px;
	color: #333333;
	font-weight: normal;
	font-size: 112.5%;
}

.btn-call {
	color: #fff;
	background-color: #333333;
	width: 200px;
	height: 40px;
	border:none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 2px;
}

.overflow {
	background-color: rgba(0, 0, 0, 0.6);  
}

.main {
	background-image: url("../img/main-background.jpg");
	background-size: cover;
	background-position: 50% 50%;
}

.container-wrap {
	display: inline-block;
    width: 100%;

}

.main-left-block {
	width: 50%;
	max-width: 512px;
	float: left;
	text-align: left;
}

.yellow-text {
	color: #ffdc00;
}

.main-left-block,
.main-right-block {
	    padding-top: 155px;
}

.main-left-block-title {
	line-height: 72px;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.main-left-block-content {
	margin-top: 30px;
	line-height: 36px;
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	width: 410px;
}

.clock-timer {
	padding-top: 40px;
}

.hours,
.minutes,
.seconds {
	display: inline-block;
}

.hours:after,
.minutes:after {
	content: ":";
	font-size: 48px;
	color: #333;
	display: inline-block;
	margin: 5px 2px;
}

.figure {
	padding: 15px;
	width: 50px;
	background-color: #333333;
	border-radius: 8px;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: inline-block;
}

.main-right-block {
	width: 50%;
	max-width: 512px;
	text-align: right;
	float: right;
}

.main-right-block img {
	width: 100%;
	height: auto;
}

.price {
	background-image: url("../img/price.png");
	background-size: 100%;
	width: 150px;
	height: 150px;
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
		-ms-transform: rotate(22deg);
	font-size: 24px;
	margin: 20px auto;
}

.price-old {
	padding-top: 45px;
	margin-right: 25px;
	text-decoration: line-through;
	color: #fff;
}

.price-new {
	margin-top: 10px;
	margin-right: 25px;
}

.specifications-item-option .option,
.specifications-item-end-option .option {
	font-weight: bold; 
}

.specifications-item-option .value,
.specifications-item-end-option .value {
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
	line-height: 28px;
	color: #a6a6a6;
}

.specifications-item-option p,
.specifications-item-end-option p {
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 28px;
}

.specifications-item,
.specifications-item-end {
	width: 100%;
	margin: 0 auto;
}

.specifications-item-option {
	vertical-align: top;
	display: inline-block;
	width: 33%;
}

.specifications-item-end-option {
	float: left;	
	width: 66%;
}

.specifications-item-end-option-1 {
	float: right;	
	width: 34%;
}

.specifications-item:after {
	content: " ";
	display: block;
	width: 50px;
	background-color: #ffdc00;
	height: 1px;
	margin: 20px 0 50px;
}

.specifications button {
	display: block;
	margin: 0 auto;
}

.reason-item {
	text-align: center;
    float: left;
	vertical-align: top;
	width: 25%;
    box-sizing: border-box;
	padding: 0 4px;
	height: 150px;
}

.sprite {
	margin: 0 auto;
	width: 70px;
	height: 70px;
	background-image: url("../img/sprite.png");
	background-position: -768px -65px;
    -webkit-background-size: 1600px;
    background-size: 1600px;
}

.reason-item-2 .sprite {
	background-position: 995px -67px;
    -webkit-background-size: 1500px;
    background-size: 1500px;
}

.reason-item-3 .sprite {
	background-position: -1273px -68px;
    -webkit-background-size: 1500px;
    background-size: 1400px;
}

.reason-item-4 .sprite {
	background-position: -70px -70px;
    -webkit-background-size: 1500px;
    background-size: 1500px;
}

.reason-item h4 {
	line-height: 24px;
	font-size: 16px;
	color: #f4d52a;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

.reason-item-text {
	font-size: 14px;
	line-height: 18px;
}

.how-it-work {
	padding-top: 70px;
}

.video-frame {
	height: 550px;
}

.video-frame .video {
	display: block;
    margin: 0 auto;
    border: 11px solid #ffdc00;
    max-width: 950px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.economy-left-block {
    width: 50%;
    max-width: 512px;
    float: left;
    text-align: center;
}

.economy-right-block {
	width: 50%;
    max-width: 512px;
    float: right;
    text-align: center;
}

.economy img {
	padding: 10px;
}

.economy-title {
	font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
}

.economy-title + p {
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 25px;
}

.plus {
	font-size: 75px;
    color: #ffdc00;
	position: absolute;
    top: 150px;
    left: 50px;
}

.economy .btn {
	display: block;
	margin: 0 auto;
}

.reviews-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.reviews-img {
    position: relative;
    width: 30%;
    height: 200px;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}

.reviews-img .reviews-img-padding {
	height: 100%;
	border: 7px solid #ffe74f;
}

.reviews-img .reviews-img-padding img {
	width: 100%;
	height: 100%;
}

.reviews-text {
	padding-left: 20px;
	width: 70%;
    float: right;
	box-sizing: border-box;
}
   
.dots {
	position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    text-align: center;
}
.dots li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 100%;
    background-color: #ffe74f;
    box-sizing: border-box;
    border:2px solid;
}

li:hover {
	border: none;
}

.guarantees-row {
	width: 100%;
}

.preferens-row {
	padding: 50px 10px;
}

.preferenses-row-item {
 	float: left;
    width: 33.333%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 4px;
    height: 150px;

}
.preferenses-row-item-title {
    line-height: 24px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;

}  

.preferenses-row-item-img-1 .sprite {
    background-position: 564px -77px;
    -webkit-background-size: 1500px;
    background-size: 1500px;
}

.preferenses-row-item-img-2 .sprite {
    background-position: 345px -77px;
    -webkit-background-size: 1500px;
    background-size: 1500px;
}

.preferenses-row-item-img-3 .sprite {
    background-position: -288px -72px;
    -webkit-background-size: 1500px;
    background-size: 1500px;
}

.guarantees p {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.delivery-row-russia,
.delivery-row-spb {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding-bottom: 50px;
}

.guarantees ul {
	padding-left: 15px;
}

.guarantees li {
	list-style-type: disc;
	margin-bottom: 15px;
    font-size: 14px;
	padding-left: 15px;
}

.guarantees-row span {
	margin-top: 25px;
    display: block;
}

.order-left-block {
	padding-top: 75px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 50%;
    position: relative;
}

.order-left-block-content-imgs .plus {
 	font-size: 75px;
    color: #ffdc00;
    position: absolute;
    top: 190px;
    left: 385px;
}

.order-right-block {
	padding-top: 75px;
	display: inline-block;
    float: right;
    width: 50%;
    text-align: center;
}

.order-price {
	position: absolute;
	top: 255px;
    left: 350px;
	background-image: url("../img/price.png");
	background-size: 100%;
	width: 150px;
	height: 150px;
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
		-ms-transform: rotate(22deg);
	font-size: 24px;
	margin: 20px auto;
}

.order-price-old {
	padding-top: 44px;
    margin-right: -7px;
	text-decoration: line-through;
	color: #fff;
}

.order-price-new {
	margin-top: 10px;
	margin-right: -5px;
}

form input {
    border-radius: 5px;
    outline: none;
    border-color: #333;
    border-width: 1px;
    height: 35px;
    padding-left: 20px;
    width: 250px;
    display: block;
    margin: 0 auto 30px;
}

.order-btn {
	margin-top: 55px;
}

.order-left-block-content-imgs {
	box-sizing: border-box;
}

.order-left-block-content-imgs img {
	padding-bottom: 30px;
}

.order-clock-timer .figure {
	padding: 7px;
    width: 35px;
    background-color: #333333;
    border-radius: 8px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.footer {
	background-color: #333;
	height: 125px;
}


@media screen and (max-width: 1010px) {

.reason-item {
	width: 50%;
}

.reviews-img {
	width: 100%;
}

.reviews-text {
	width: 100%;
    padding-top: 70px;
}

.economy-left-block,
.economy-right-block {
	width: 100%;
	max-width: none;
}

.order-left-block,
.order-right-block {
	width: 100%;
}

.order-price {
	left: 560px;
}

.specifications-item {
	text-align: center;
}

}

@media screen and (max-width: 770px) {

.title {
    font-size: 22px;
}

.main-right-block {
    display: none;
}

.main-left-block {
    width: 100%;
    text-align: center;
    max-width: none;
}
.main-left-block-content {
	margin: 0 auto;
}
.main-btn {
	text-align: center;
}

.order-price {
	left: 420px;
}

.specifications-item {
	text-align: center;
	padding-bottom: 45px;
}

.specifications-item:after {
	display: none;
}

.specifications-item-end-option-1 {
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
}

.specifications-item-end-option {
    width: 100%;
    text-align: center;
}
.guarantees p {
    text-align: center;
}
}

@media screen and (max-width: 525px) {
.title {
    font-size: 20px;
}
.reason-item {
    width: 100%;
    margin-top: 50px;
}
.video-frame {
    height: 300px;
}

.guarantees-row {
    width: 100%;
}
.preferenses-row-item {
	float: none;
    width: 100%;

}
.delivery-row-russia, .delivery-row-spb {
    width: 100%;
float: none;
}
.order-price {
    left: 270px;
}
.header-phone {
	display: none;
}

.specifications-item-option {
    width: 100%;
}
.economy-left-block-content-top img,
.economy-left-block-content-botom img {
	box-sizing: border-box;
    width: 100%;
    padding: 0 10px;

}
.guarantees p {
    text-align: center;
}
}


@media screen and (max-width: 320px) {
.title {
    font-size: 18px;
}

.video-frame {
    height: 200px;
}

.economy-right-block-content-imgs {
	max-width: 320px;
}

.economy img {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.guarantees p {
    text-align: center;
}

.order-left-block-content-imgs {
	max-width: 320px;
}

.order-left-block-content-imgs img {
	width: 100%;

}

.order-price {
    left: 155px;
}
.specifications-item,
.specifications-item-end-option .value {
	text-align: left;
}

.specifications-item-end-option {
    text-align: left;
}
.reason-item {
	padding-top: 30px;
}

.clock-timer {
    width: 320px;
}

.figure {
	padding: 7px;
    width: 29px;
    font-size: 28px;
}

.main-left-block-title {
    line-height: 47px;
    font-size: 27px;
}

.main-left-block-content {
    line-height: 29px;
    font-size: 17px;
    width: 320px;
}
.specifications-item-end-option-1 img,
.specifications-item-option img {
	max-width: 300px;
}
.specifications-item-option .value {
	margin-top: none;
}

.reason-item-4 {
    padding-top: 30px;
}



}