html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/*********** мои стили ***********/
body {
	font-family: "Helvetica";
}

a {
	text-decoration: none;
}

.container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	color: #333333;
	background-color: #ffdc00;
	width: 300px;
	height: 75px;
	border:none;
	border-radius: 10px;
	border-bottom: 5px solid #b9a000;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 36px;
	font-size: 150%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 185px;
}

.h3-titles {
	text-align: center;
	font-size: 150%;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 50px;
}

.h3-titles:after {
	content: " ";
	display: block;
	width: 260px;
	height: 1px;
	background-color: #ffdc00;
	margin: 40px auto;
}


.header {
	height: 100px;
	background-color: #ffdc00;
}

.header-logo {
	float: left;
	height: 56px;
	width: auto;
	margin-top: 22px;
}

.header-phone {
	float: right;
}

.header-phone a {
	display: block;
	text-align: right;
	font-family: "Helvetica";
	padding-right: 2px;
	margin-bottom: 5px;
	margin-top: 22px;
	color: #333333;
	font-weight: normal;
	font-size: 112.5%;
}

.btn-call {
	color: #fff;
	background-color: #333333;
	width: 200px;
	height: 40px;
	border:none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 2px;
}

.overflow {
	background-color: rgba(0, 0, 0, 0.6);  
}

.main {
	background-image: url("../img/main-background.jpg");
	background-size: cover;
	background-position: 50%;

}

.container-wrap {
	display: inline-block;
    width: 100%;
    padding-top: 155px;
    padding-bottom: 45px;

}

.container-wrap .btn {
	display: block;

}

.main-left-block {
	width: 50%;
	max-width: 512px;
	float: left;
	text-align: left;
}

.yellow-text {
	color: #ffdc00;
}

.main-left-block-title {
	line-height: 72px;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.main-left-block-content {
	margin-top: 30px;
	line-height: 36px;
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	width: 410px;
}

.clock-timer {
	padding-top: 40px;
}

.hours,
.minutes,
.seconds {
	display: inline-block;
}

.hours:after,
.minutes:after {
	content: ":";
	font-size: 48px;
	color: #333;
	display: inline-block;
	margin: 5px 2px;
}


.figure {
	padding: 15px;
	width: 50px;
	background-color: #333333;
	border-radius: 8px;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: inline-block;
}


.main-right-block {
	width: 50%;
	max-width: 512px;
	text-align: right;
	float: right;
}

.main-right-block img {
	width: 100%;
	height: auto;
}

.price {
	background-image: url("../img/price.png");
	background-size: 100%;
	width: 150px;
	height: 150px;
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
		-ms-transform: rotate(22deg);
	font-size: 24px;
	margin: 20px auto;
}

.price-old {
	padding-top: 45px;
	margin-right: 25px;
	text-decoration: line-through;
	color: #fff;
}

.price-new {
	margin-top: 10px;
	margin-right: 25px;
}

.specifications-item-option .option,
.specifications-item-end-option .option {
	font-weight: bold; 
}

.specifications-item-option .value,
.specifications-item-end-option .value {
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
	line-height: 28px;
	color: #a6a6a6;
}

.specifications-item-option p,
.specifications-item-end-option p {
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 28px;
}

.specifications-item,
.specifications-item-end {
	width: 100%;
	margin: 0 auto;
}

.specifications-item-option {
	vertical-align: top;
	display: inline-block;
	width: 33%;
}

.specifications-item-end-option {
	display: inline-block;	
	width: 66%;
}

.specifications-item:after {
	content: " ";
	display: block;
	width: 50px;
	background-color: #ffdc00;
	height: 1px;
	margin: 20px 0 50px;
}

.specifications button {
	display: block;
	margin: 0 auto;
}

.reason-item {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 22px);
	margin: 0 9px;

}

.sprite {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	background-image: url("../img/sprite.png");
	background-position: -54px -43px;
	-webkit-background-size: 600px;
	background-size: 600px;
}

.reason-item-2 .sprite {
	background-position: -207px -48px;
	-webkit-background-size: 600px;
	background-size: 600px;
}

.reason-item-3 .sprite {
	background-position: 247px -55px;
	-webkit-background-size: 600px;
	background-size: 600px;
}

.reason-item-4 .sprite {
	background-position: -500px -50px;
	-webkit-background-size: 600px;
	background-size: 600px;
}

.reason-item h4 {
line-height: 24px;
	font-size: 100%;
	color: #f4d52a;
	margin-top: 5px;
	margin-bottom: 15px;
	font-weight: bold;
}

.reason-item-text {
	font-size: 87.5%;

}

.how-it-work {
	padding-top: 70px;
}

@media screen and (max-width: 1040px) and (min-width: 600px) {



}